<div class="main-workexp">
  <a href="https://www.lab3.com.au" target="_blank"><div class="workexp-item item-1">
    <div class="workexp-date"></div>
    <h2>LAB<sup>3</sup></h2>
    <span>Graduate Engineer</span>
    <div class="workexp-details">
      Assisted in the transition of cloud services and application into the Microsoft Azure cloud for several clients, developing solutions utilising Terraform, Docker and Azure DevOps.
      <br>Obtained certificates in: <b>AZ900, AZ104, AI900, SC900, Terraform Associate (003).</b>
    </div>
    <div class="workexp-skills">
      <div class="workexp-skills-item">
        Microsoft Azure
      </div>
      <div class="workexp-skills-item">
        Terraform
      </div>
      <div class="workexp-skills-item">
        Docker
      </div>
      <div class="workexp-skills-item">
        AKS
      </div>
      <div class="workexp-skills-item">
        Azure DevOps
      </div>
      <div class="workexp-skills-item">
        Linux
      </div>
      <div class="workexp-skills-item">
        Python
      </div>
      <div class="workexp-skills-item">
        Powershell
      </div>
    </div>
  </div></a>
  <a href="https://www.commbank.com.au/" target="_blank"><div class="workexp-item item-2">
    <div class="workexp-date"></div>
    <h2>Commonwealth Bank of Australia</h2>
    <span>IB&M Engineering Intern</span>
    <div class="workexp-details">
      Successfully led the development of a Java & Selenium based regression test built for a substantial data warehouse containing market data across 10 weeks.
      <br>After demoing to colleagues and stakeholders, the test was eventually implemented as part of CI/CD pipelines.
    </div>
    <div class="workexp-skills">
      <div class="workexp-skills-item">
        Java
      </div>
      <div class="workexp-skills-item">
        Selenium
      </div>
      <div class="workexp-skills-item">
        CI/CD
      </div>
      <div class="workexp-skills-item">
        TeamCity
      </div>
      <div class="workexp-skills-item">
        Octopus
      </div>
    </div>
  </div></a>
</div>
