<main class="main">
    <div class="landing-page">
        <div class="landing-page-text">
            <h1 class="landing-page-text-header">
                Hey, im <span id="name-text"></span><div class="name-text-cursor"></div>.
            </h1>
            <div class="landing-page-text-role">
                <span>
                    Im a <b>Software Engineer</b> from <b>Sydney, NSW, Australia</b>.
                </span>
            </div>

            <div class="landing-page-text-subtext">
                <span>
                    By utilising technologies for application development all the way to cloud automation & devops, i work alongside clients to build software and processes that are aimed to solve their everyday problems.
                </span>
            </div>

        </div>
    </div>
</main>