<div class="main-homepage">
    <div #landingpage class="landing-page">
        <div class="landing-page-text">
            <h1 class="landing-page-text-header">
                Hey, i'm <span id="name-text"></span><div class="name-text-cursor"></div>
            </h1>
            <div class="landing-page-text-role">
                <span>
                    I'm a <b>Site Reliability Engineer</b> from <b>Sydney, NSW, Australia</b>.
                </span>
            </div>

            <div class="landing-page-text-subtext">
                <span class="description">
                    By applying software engineering principles alongside my expertise in <b>Linux, distributed systems, databases, container orchestration, and networking</b>, I strive to maintain and continuously enhance resilient cloud infrastructure that enables clients to operate efficiently and reliably.
                </span>
                <a class="link" href="https://www.credly.com/users/gregory-deng" target="_blank">
                    <span class="certifications">
                        <u><b>My certifications</b></u>
                    </span>
                </a>
            </div>         
        </div>
        <!-- <div class="experience-header"><u><b>Experience</b></u></div> -->
        <div class="scroll-line">
            <div class="scroll-line-date scroll-line-date1">
                <div class="scroll-line-date1-number">
                    DEC 2025 - PRESENT
                </div>
            </div>
            <div class="scroll-line-date scroll-line-date2">
                <div class="scroll-line-date2-number">
                    FEB 2024 - DEC 2025
                </div>
            </div>
            <div class="scroll-line-date scroll-line-date3">
                <div class="scroll-line-date3-number">
                    NOV 2022 - FEB 2023
                </div>
            </div>
            <app-workexp></app-workexp>  
        </div>
        <div class="scroll-height"></div>  
        <app-projects></app-projects>
        <!-- <app-aboutme></app-aboutme> -->
    </div>
</div>