span {
    display: inline-block;
    padding-top: 30px;
    caret-color: transparent;
    line-height: 20px;
}

ion-icon {
    font-size: 40px;
    color: rgb(162, 162, 162);
    transition: 0.3s ease;
}

ion-icon:hover {
    color: white;
    cursor: pointer;
}

.projects-main {
    font-family: 'CreatoDisplay';
    height: calc(35% + 25vw);
}

.header-text {
    position: relative;
    font-size: 35px;
    height: 120px;
    width: 80%;
    left: 44px;
}

.project-1 {
    display: flex;
    height: 60vw;
    width: 80vw;
    gap: 50px;
}

.project-img {
    position: relative;
    height: calc(20vw + 15vh);
    width: calc(20vw + 15vh);
}

.project-text-1 {
    position: relative;
    top: calc(30% - 20vh);
    width: 30vw;
}

.project-text-header {
    font-size: 25px;
}

.project-text-body {
    font-size: 15px;
    color: rgb(186, 186, 186);
    padding-bottom: 30px;
}