<div class="projects-main">
  <div class="header-text">
    <u><b>Projects</b></u>
  </div>
  <div class="project project-1">
    <img class="project-img project-img-1" src="./assets/images/photo-collage.png">
    <div class="project-text-1">
      <span class="project-text-header project-text-header-1">
        <b>My personal site // Angular 18 // TS</b>
      </span>
      <span class="project-text-body project-text-body-1">
        This website was built by myself using Angular 18 as the framework of choice, in order to continue developing my knowledge of front-end technologies. The layout of the website
        was inspired by a number of other public personal portfolios, with design elements and flair ideated by me. 
      </span>
      <a class="link" href="https://github.com/gregyd-dev/personal-site/" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
    </div>
  </div>
</div>
