ion-icon {
    font-size: 25px;
    color: rgb(162, 162, 162);
    transition: 0.3s ease;
}

ion-icon:hover {
    color: white;
    cursor: pointer;
}

.main-socialsbar {
    height: 150px;
    display: flex;
    gap: 12px;
}

.icons {
    display: flex;
    gap: 8px;
    position: relative;
    top: 50%;
    margin-left: 12%;
}

.email-popup {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 30%;
    margin: 20px auto 0px auto;
    background-color: rgb(72, 72, 72);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transitions */
}

.email-popup.visible {
    opacity: 1;
    visibility: visible;
}

.email-popup.hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    to {
      opacity: 0;
    }
}

.scrollpos {
    display: flex;
    gap: 20px;
    position: absolute; 
    margin-top: 2px; 
    top: 8%;
    right: 20%;
}

.scrollpos-item-bar {
    background-color: rgb(121, 121, 121);
    width: 100%;
    height: 2px;
    margin: auto;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.scrollpos-item {
    padding-top: 6px;
    width: 75px;
    height: 40px;
    font-family: 'CreatoDisplay';
    font-size: 12px;
    font-weight: bold;
    color: rgb(121, 121, 121);
    text-align: center;
    transition: all 0.3s ease;
}

.scrollpos-item.active {
    color: white;
}

.scrollpos-item:hover {
    color: white;
    cursor: pointer;

    .scrollpos-item-bar {
        background-color: white;
    }
}

.scrollpos-item-bar.active {
    background-color: white;
}


@media (max-width: 700px) {
    .icons {
        top: 25%;
    }

    .scrollpos {
        left: 12%;
        top: 15%;
    }
}