ion-icon {
    font-size: 25px;
    color: rgb(162, 162, 162);
    transition: 0.3s ease;
}

ion-icon:hover {
    color: white;
    cursor: pointer;
}

.main-socialsbar {
    height: 150px;
    display: flex;
    gap: 12px;
}

.icons {
    display: flex;
    gap: 8px;
    position: relative;
    top: 50%;
    margin-left: 12%;
}

.email-popup {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 30%;
    margin: 20px auto 0px auto;
    background-color: rgb(72, 72, 72);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-top: 15px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transitions */
}

.email-popup.visible {
    opacity: 1;
    visibility: visible;
}

.email-popup.hidden {
    opacity: 0;
    visibility: hidden;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
    to {
      opacity: 0;
    }
}